body {
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

.ig_feed {
    width: 425px;
    height: 600px;
    background-color: white;
}
.feed_header{
    padding: 1px 6px;
}
.text_feed_header {
    display: flex;
    justify-content: space-between;
}
.text_feed_header p {
    margin: 0;
    padding: 8px;
    font-size: larger;  
}

.picture1 {
    width: 100%;
}
.feed_body{
    background-color: white;
    padding: 3px 8px;
}

.feed_body p {
    color: rgb(32, 31, 31);
}
.feed_icons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.bookmark_icon {
    margin-left: auto;
    padding-right: 5px;
}